@{
    ViewData["Title"] = "Admin";
}

<div class="modal-body">
    <ul>

        <li><a asp-area="" asp-controller="Admin" asp-action="ApplicationRoles">Role management</a></li>

        <li><a asp-area="" asp-controller="Admin" asp-action="Users">Users management</a></li>

        <li><a asp-area="" asp-controller="Admin" asp-action="OrganizersTeam">Organizers management</a></li>
    </ul>

</div>
